################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeleniumBase.Framework/bin/Debug
/SeleniumBase.Framework/bin/Debug/net48
/SeleniumBase.Framework/.vs/SeleniumBase.Framework/v16
/SeleniumBase.Framework/.vs/SeleniumBase.Framework/DesignTimeBuild
/SeleniumBase.Framework/obj
/SampleTests/bin/Debug/net48
/SampleTests/obj
/.vs/CustomerProjects/v16/TestStore/0
/.vs/slnx.sqlite
/.vs/SeleniumBase.Framework/v16/TestStore/0
/.vs/SeleniumBase.Framework/v16
/.vs
SeleniumBase.Framework/bin/Debug/net48
SeleniumBase.Framework/obj/Debug/net48
SeleniumBase.Framework/obj/project.nuget.cache
SeleniumBase.Framework/obj/project.assets.json
/SampleAPITests/bin/Debug/net48
/SampleAPITests/obj
SampleAPITests/bin/Debug
SampleTests/bin/Debug
SamplespecFlowProject/bin
SamplespecFlowProject/obj
SampleGUITests/bin
SampleGUITests/obj
SamplespecFlowTests/bin
SamplespecFlowTests/obj
