<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!-- Parameters used by tests at runtime on the New Environment -->
  <TestRunParameters>
    <Parameter name="TestUrl" value="https://demoqa.com" />
    <Parameter name="GridUrl" value="http://127.0.0.1:4444/wd/hub" />

    <!--Browser Type has a Selection of 
    - Firefox
    - InternetExplorer
    - Edge
    - Chrome
    -->

    <Parameter name="BrowserType" value="Edge" />

  </TestRunParameters>
</RunSettings>